  /* A C C O U N T V I E W N A V */


  .accountButtonNav:active, .accountButtonNav:hover, .accountButtonNav:focus {
    background-color: rgba(180, 180, 180, 0);
    color: rgb(120, 198, 201);
    outline: none;
  }
  .accountButtonNav, .subheaderNav {
    background-color: rgba(180, 180, 180, 0);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: none;
    transition: none;
    width: 100%;
    height: 100%;

  }
  .subheaderNav {
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin-left: -1rem;
    width: 100vw;
  }
  .accountNav button{
      margin: 0;
      padding-top: 1em;
      padding-bottom: 1em;
      color: gray;
      border: none;
      cursor: pointer;
      font-size: 0.8em;
      font-weight: normal;
  }

.activeNavButton{
    color: rgb(236, 179, 94)!important;
    border-bottom: 1px solid rgb(236, 179, 94)!important;
}
.reviewIcons{
    max-height: 150px;
}
.pastBoxes{
    color: rgb(236, 179, 94);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}
details{
    margin: 1em;
}
.detail-dropdown{
    padding: 1.5em;
    display: block;
    background-color: #f8f8f8;
}
.detail-dropdown{
    outline:none;
}
.detail-answer{
    padding: 1.5em;
    color: #666666;
    border: 1px solid #e6e6e6;
}
summary:hover {
    color: rgb(120, 198, 201);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in,
    color 0.3s ease-in;
    -moz-transition: all 0.3s ease-in,
    color 0.3s ease-in;
    transition: all 0.3s ease-in,
    color 0.3s ease-in;
}
.flexPlan
{
  padding: 1em;
  width: 100%;
  border: 2px solid #C7C7C7;
  border-radius: 0.5em;
}

.flexPlan>h2, .flexPlan>h3{
  padding: 0;
  margin: 0;
}
.flexPlanActive{
  border: 2px solid rgb(236, 179, 94);
  background-color: rgb(253, 185, 90);
}

.flexPlanActive>h4{
  color: rgb(255, 250, 245);
}
.flexPlan>h2, .flexPlan>h3, .flexPlan>.savings{
    font-size: smaller;
    padding: 0;
    margin: 0;
  }
.flexPlan>h3{
    color: rgb(59, 75, 117);
  }
.lastQuizTaken{
    font-weight: bold;
    color: rgb(236, 179, 94);
}
@media (min-width: 24em){
    .subheaderNav{
      margin-left: -2rem;
    }
}
    @media (min-width: 52em) {
    .subheaderNav {
        float: left;
        width: 25%;
        height: 100%;
        border:none;
    }

    .accountNav .nav{
        padding-bottom: 12em;
        flex: none;
        display: block;
        border-right: 3px solid rgb(120, 198, 201);
    }
    .subheaderNav button:hover, .subheaderNav button:focus{
        background-color: rgb(120, 198, 201);
        color: white;
    }
    .activeNavButton{
        border-bottom:none !important;
        color: white!important;
        background-color: rgb(120, 198, 201)!important;
        outline: none;
    }
    .accountNav button{
        font-size: 0.9em;
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }
    .tabContent{
        display: none;
        padding: 0em 1em;
        /* border: 2px solid rgb(26, 189, 197);
        border-left: none; */
        width: 75%;
        float: left;
    }
  }