  /* A C C O U N T V I E W N A V */


  .buttonNav:active, .buttonNav:hover {
    background-color: rgba(180, 180, 180, 0);
    color: white;
    outline: none;
  }
  .accountButtonNav, .subheaderNav, .accountNav ul {
    background-color: rgba(180, 180, 180, 0);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: none;
    transition: none;
  }

  .subheaderNav {
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  .accountNav ul li button{
      color: rgb(26, 189, 197);
      border: none;
      cursor: pointer;
  }
  .subheaderNav li {
    width: 25%;
    text-align: center;
  }
.subheaderNav li:hover, .subheaderNav li:focus{
    background-color: rgb(26, 189, 197);
}
.activeNavButton{
    color: white!important;
    background-color: rgb(26, 189, 197)!important;
    outline: none;
}
.subheaderNav li:hover > .buttonNav, .subheaderNav li:focus>.buttonNav{
    color: white;
    outline: none;
}
    @media (min-width: 52em) {

        .accountNav ul li button{
            display: inline-block;
        }
    .subheaderNav {
        float: left;
        width: 25%;
        height: 100%;
    }

    .subheaderNav li {
      display: block;
      width: 100%;
      padding: 2rem 0;
    }
    .accountNav{
        border-right: 2px solid rgb(26, 189, 197);
    }
    .tabContent{
        display: none;
        padding: 0em 1em;
        /* border: 2px solid rgb(26, 189, 197);
        border-left: none; */
        width: 70%;
        float: left;
    }
  }