  /* A C C O U N T V I E W N A V */


  .subheaderNav .buttonNav:hover, .subheaderNav .buttonNav:focus {
    text-decoration: underline;
    background-color: rgba(180, 180, 180, 0);
    color: rgb(16, 139, 143);
  }

  .accountButtonNav, .subheaderNav, .accountNav ul {
    background-color: rgba(180, 180, 180, 0);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
  }

  .subheaderNav {
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    left: 0;
    width: 100vw;
    position: absolute;
  }
  .accountNav ul li a{
      color: rgb(26, 189, 197);
  }
  .subheaderNav li {
    width: 25%;
    text-align: center;
  }

    @media (min-width: 52em) {
    .subheaderNav {
    padding-top: 2em;
    width: 25%;
    height: 100%;
    }

    .subheaderNav li {
      display: block;
      width: 100%;
      padding: 2rem 0;
    }
    .accountNav{
        border-right: 2px solid rgb(26, 189, 197);
    }
  }