/* This is styling for the Details tags that appears on FAQs */
.detail-dropdown{
    padding: 1.5em;
    /*margin: 1em;*/
    /*margin-bottom: 0;*/
    color: #666666;
    display: block;
    background-color: #f2f2f2;

}
.detail-dropdown{
    outline:none;
}
.detail-answer{
    /*margin: 1em;*/
    /*margin-top: 0;*/
    padding: 1.5em;
    color: #666666;
    background-color: rgb(206, 236, 236); ;
    border-top: 2px solid #e6e6e6;
}
details{
    margin: 1em;
    
    -webkit-transition: all 0.2s ease-out,
    color 0.2s ease-out;
    -moz-transition: all 0.2s ease-out,
    color 0.2s ease-out;
    transition: all 0.2s ease-out,
    color 0.2s ease-out;
}
details:hover {
    box-shadow: 5px 5px 5px #cccccc;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in,
    color 0.3s ease-in;
    -moz-transition: all 0.3s ease-in,
    color 0.3s ease-in;
    transition: all 0.3s ease-in,
    color 0.3s ease-in;
}
.detail-answer li { 		
    display: block;		
    padding-left: 1em; 		
}		
.detail-answer li:before {		
    content: "• ";		
    color: rgb(26, 189, 197); 		
}