.quizRow{
    margin: 1em;
}
.quizRow>.quizAnswer {
    padding: 1em 0 0 1em;
}
.quizAnswer>.quizAnswerInfo{
    max-width: 400px; /* Max size for the pictures*/
    border: 2px solid rgba(255, 255, 255, 0.37);
    border-radius: 5px;
    padding: 1em;
    color: gray;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}
.quizAnswerInfo>img{
    max-width: 100%;
}
.quiz {
    padding: 2em 0;
}
.quizAnswer>.quizAnswerInfo:hover, .quizAnswer>.quizAnswerInfo:focus{
    cursor: pointer;
    /* border: 2px solid rgba(26, 191, 197, 0.548); */
    background-color: rgb(255, 198, 117);
    border-radius: 5px;
}

@media (max-width: 37.5em) {
    .quizRow>.quizAnswer {
        flex: none;
        width: 100%;
    }
}