/* RATING STAR */
/* https://css-tricks.com/star-ratings/ */
.rating {
    margin-left: -0.4em;
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 2em;
    float: left;
  }
  .rating > span {
    color: rgb(236, 179, 94);
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
    cursor: pointer;
    color: rgb(236, 179, 94);
    content: "\2605";
    position: absolute;
  }
  /* RATING STAR END */
.grid-cell{
    margin: 1em;
}
.bookInfo>h1{
    padding: 0;
    margin: 0;
}
.bookInfo>h2{
    font-size: 1.3em;
}
.quizRow>.quizAnswer {
    padding: 1em 0 0 1em;
}
section{
    padding-top: 2em;
}
.textArea{
    display: block;
}
.textArea > textarea{
    margin-top: 1em;
    padding: 1em;
    font-size: 1em;
    width:100%;
    resize: vertical;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 2px;
    font-family: 'Roboto Slab', serif;
}
.textArea > textarea:focus{
    outline: none;
}
.imageRating > img{
    max-width: 100%;
  }