
  /* Product listing */
  .productListing
  {
      line-height: 1.2em;
  }
  .productListing h2
  {
    padding: 0;
    margin: 0;
  }
  
  .productListing h3
  {
    font-size: 1.1em;
  }
  .small-info
  {
    font-weight: 300;
    font-size: 0.75em;
  }
  .savings{
    color: #E26456;
    margin: 0;
    font-weight: 700;
  }
  .flexPlan
  {
    padding: 1em;
    width: 100%;
    border: 2px solid #C7C7C7;
    border-radius: 0.5em;
  }
  .flexPlan>h2, .flexPlan>h3, .flexPlan>.savings{
    font-size: smaller;
  }
  .flexPlan:focus, .flexPlan:hover{
    border: 2px solid rgb(26, 189, 197);
  }
.Grid {
  margin-bottom: 2em;
}
.smallHidden{
  display: none;
}
.nextStep{
  padding-top: 2em !important;
}

label{
  display: inline-block;
  width: 10em;
  text-align: left;
  padding-left: 0.5em;
}
.Grid-cell>label{
  line-height: 2em;
  font-family: sans-serif;
}
@media (max-width: 70em){
  .Grid-cell>input{
    width: 99%;
  }
}
@media (max-width: 36em){
  .Grid-cell-1of4{
    width: 50%!important;
  }
}
@media (min-width: 36em) {
  .flexPlan
  {
    padding: 1em;
  }
  .flexPlan>h2, .flexPlan>h3{
    font-size: larger;
  }
  .productListing
  {
      line-height: 1.2em;
      padding: 2em;
  }
  .signupForm{
    padding: 2em;
  }

}
