
  .small-info
  {
    font-weight: 300;
    font-size: 0.75em;
  }

  .flexPlan
  {
    padding: 1em;
    width: 100%;
    border: 2px solid #C7C7C7;
    border-radius: 0.5em;
  }
  .flexPlan>h2, .flexPlan>h3, .flexPlan>.savings{
    font-size: smaller;
  }
  .flexPlan>h2, .flexPlan>h3{
    padding: 0;
    margin: 0;
  }
  .flexPlan:focus, .flexPlan:hover{
    border: 2px solid rgb(236, 179, 94);
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .flexPlanActive{
    border: 2px solid rgb(236, 179, 94);
    background-color: rgb(253, 185, 90);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .flexPlanActive>h3{
    color: rgb(255, 250, 245);;
    -webkit-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
  }
.Grid {
  margin-bottom: 2em;
}

footer .Grid {
  margin-bottom: 0;
}
.smallHidden{
  display: none;
}
.nextStep{
  padding-top: 2em !important;
}
label{
  display: inline-block;
  width: 10em;
  text-align: left;
  padding-left: 0.5em;
}
.Grid-cell>label{
  line-height: 2em;
  font-family: sans-serif;
}
#cityDiv, #provinceDiv{
  flex: 2;
}

@media (max-width: 36em){
  .Grid-cell-1of4{
    width: 50%!important;
  }
  #cityDiv{
    width: 100%;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
  }
}
@media (min-width: 36em) {
  .flexPlan>h2, .flexPlan>h3{
    font-size: larger;
  }
  .signupForm, .choosePlan{
    padding: 2em;
  }

}
