/* CHOOSING THE SUBSCRIPTION */
  .small-info
  {
    font-weight: 300;
    font-size: 0.75em;
  }

  .flexPlan
  {
    padding: 1em;
    width: 100%;
    border: 2px solid #C7C7C7;
    border-radius: 0.5em;
  }
  .flexPlan>h2, .flexPlan>h3, .flexPlan>.savings{
    font-size: smaller;
  }
  .flexPlan>h2, .flexPlan>h3{
    padding: 0;
    margin: 0;
  }
  .flexPlan:focus, .flexPlan:hover{
    border: 2px solid rgb(236, 179, 94);
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .flexPlanActive{
    border: 2px solid rgb(236, 179, 94);
    background-color: rgb(253, 185, 90);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .flexPlanActive>h3{
    color: rgb(255, 250, 245);;
    -webkit-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
  }
/* CHOOSING THE SUBSCRIPTION */
.smallHidden{
  display: none;
}
.nextStep{
  padding-top: 2em !important;
}
label{
  display: inline-block;
  width: 10em;
  text-align: left;
  padding-left: 0.5em;
}
.Grid-cell>label{
  line-height: 2em;
  font-family: sans-serif;
}
#cityDiv, #provinceDiv{
  -ms-flex: 2;
  flex: 2;
}
/* STICKY FOOTER */
html, body {
  height: 100%;
}
footer .Grid {
  margin-bottom: 0;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.informationAboutSubscription{
  padding-top: 4em;
}
.content {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
footer {
  background-color: rgb(59, 75, 117);
  box-sizing: border-box;
}

footer a {
  color: white;
  display: block;
  text-align: right;
  font-size: 0.8rem;
  text-decoration: none;
}

footer a:nth-child(1) {
  padding-top: 1rem;
}

footer img {
  max-width: 100px;
  display: block;
  text-align: center;
  margin: auto;
}

footer .footerNames {
  text-align: left;
}
/* END THE STICKY FOOTER */
@media (max-width: 36em){
  .Grid-cell-1of4{
    width: 50%!important;
  }
  #cityDiv{
    width: 100%;
    width: 100%;
    -ms-flex: none;
    flex: none;
  }
}
@media (min-width: 36em) {
  .flexPlan>h2, .flexPlan>h3{
    font-size: larger;
  }
  .signupForm, .choosePlan{
    padding: 2em;
  }
}
@media (min-width: 67.500em)
{
  body{
    margin: 0 10em;
  }
}
@media (min-width: 85em){
  body{
    margin: 0 20em;
  }
}